.navbar {
    margin-bottom: 20px; /* adjust as needed */
}

.jumbotron {
    margin-bottom: 20px; /* adjust as needed */
}

.navbar-nav {
    margin-left: auto;
}

.jumbotron .btn {
    float: left;
}

.card-deck {
    display: flex;
    justify-content: space-around;
}

.btn-primary {
    float: left;
}

.btn-secondary {
    justify-content: center;
    background-color: blue;
}